*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Trebuchet MS', sans-serif;
  background-image: url('./assets/imgs/fondo.jpeg');
}

.h1Style{
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 3em;
  background-color: white;
  padding: 0.5em;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
color: rgb(95, 108, 122);
}
.flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10em;
}
.navStyle{
  background-color: lightblue;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.cardStyle{
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.imgStyle{
  border-radius: 10px;
  border: 5px dashed lightblue;
}
.footerBox{
  font-size: 1.1em;
}
/* .buttonStyle{
  color: white;
} */
.footerText{
  background-color: lightblue;
  box-shadow: rgba(0, 0, 0, 0.19) 0px -10px 20px, rgba(0, 0, 0, 0.23) 0px -6px 6px;
}


